/*
@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

.list {
  list-style-type: none;
}

.favourite {
  background-color: lightblue;
  color: lightcoral;
  width: 25vw;
}
.containerSections {
  display: flex;
  flex-direction: row;
}
.sectionFavourites {
  margin-right: 400px;
}
